<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <section class="login">
        <div class="container flex">
            <div class="login-form card">
                <div class="login-title">Login</div>
                <form>
                    <div class="form-control">
                        <label for="username-input">Username</label>
                        <input id="username-input" type="text" name="username">
                    </div>
                    <div class="form-control">
                        <label for="password-input">Password</label>
                        <input id="password-input" type="password" name="password">
                    </div>
                    <input type="submit" value="Send" class="btn btn-login">
                </form>
            </div>
        </div>
    </section>
</body>
</html>